<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" th:href="@{/css/homestyle.css}" />
<link rel="stylesheet" th:href="@{/css/mediaqueries.css}" />

<meta charset="UTF-8">
 <link rel="icon" href="/favicon.png" type="image/x-icon">
<title>About Us</title>
</head>
<body>

      <div class="container flex footer-container"  th:fragment="aboutusContent" id="Aboutus">
        <div class="link-column flex"><a href="#" class="company-logo">
          <img src="/shudonlogo.jpg-removebg.png" alt="company logo" />
        </a></div>
          <div class="link-column flex" style="justify-content: center;" >
            <h1>About us </h1>
                    <p>At Shudon , we are passionate about fostering a vibrant community where enthusiasts of all backgrounds can come together to enjoy the timeless joy of board gaming. Our mission is to create an inclusive environment that encourages social interaction, strategic thinking, and, most importantly, fun. Whether you're a seasoned gamer or new to the world of board games, our club offers a welcoming space to explore a diverse collection of games and meet like-minded individuals.

                        Established in 2021, our club has grown into a cornerstone for local gamers seeking both casual play and competitive challenges. We host regular game nights, tournaments, and special events, providing members with numerous opportunities to engage and develop their skills. Beyond gaming, we believe in the power of community and strive to build connections that extend beyond the game table. Join us at Shudon Board Game Club and become part of a dynamic community where the love for board games brings people together.</p>
            <h3>Message By Founder </h3>
            </div>
       
        </div>
      </div>
   

</body>
</html>